.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-image-container {
  width: 100%;
  max-width: 500px;
  height: calc(500px * 9 / 16);
  overflow: hidden;
  position: relative;
}
.carousel-image {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.carousel-button {
  margin: 0 10px;
}
