.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  flex: 1;
}

.nav-links-desktop {
  display: flex;
  gap: 20px;
  flex: 3;
  justify-content: center;
}

.nav-mobile,
.nav-links-mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
