.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 28.2px;
  height: 30px;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links-mobile a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.nav-links-mobile a:hover {
  background-color: #e2e6ea;
}

.nav-mobile button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-mobile button:hover {
  background-color: #0256e3;
}

@media (max-width: 767px) {
  .nav-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }

  .nav-links-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-links-desktop {
    display: flex;
    align-items: center;
  }

  .nav-links-desktop a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }

  .nav-links-desktop a:hover {
    background-color: #e2e6ea;
  }

  .nav-desktop button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .nav-desktop button:hover {
    background-color: #0256e3;
  }
}
