.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 767px) {
  .nav-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }

  .nav-links-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links-desktop {
    display: flex;
    gap: 20px;
  }
}
